﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fuel Me With Coffee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h3 class="navbar-brand">Fuel_Me_With_Coffee</h3>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-between">
                        <div class="d-flex flex-row">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home"
                                   asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item" id="makeCoffee">
                                <a class="nav-link text-dark" asp-controller="Home"
                                    asp-action="MakeCoffee">Make Coffee</a>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Admin"
                               asp-action="Login">Admin Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>


@section Script
{
    <script>
        function makeCoffee(){
            if (ViewData["Controller"]=="Admin"){
                const li=document.getElementById("makeCoffee");
                li.style.visibility="hidden";
            }
        }
        makeCoffee();
    </script>
}