@model IList<Fuel_Me_With_Coffee.Models.Ingredient>
@{
    ViewData["Title"] = "Admin Add Coffee";
    ViewData["Controller"] = "Admin";
}


<div class="container">
    <h1>Create coffee</h1>
    <a href="@Url.Action("Index", "Admin")" class="mb-5">Go back</a>        
        <div>
            <label>Name</label>
            <input type="text" id="coffee-name">
        </div>
        <h5>Ingredients:</h5>
        <div class="d-flex flex-wrap">
             @foreach (Ingredient ingredient in Model)
            {
                <div class="card m-2">
                    <div class="card-body">
                        <input type="checkbox" price="@ingredient.Price" value="@ingredient.Id" />
                        @ingredient.Name 
                    </div>
                    <div class="card-footer text-muted">
                        @ingredient.Price RSD
                    </div>
                </div>
            }
        </div>
        <button class="btn btn-dark" onclick="order()">Add Coffee</button>
</div>

@section Scripts { 
    <script>
    function order() {
        const ingIds = [];
        const prices = [];
        const coffeeName = $("#coffee-name").val()
        $("input:checked").each(function () {
            if ($(this).is(":checked")) {
                ingIds.push($(this).val());
                prices.push($(this).attr('price'));
            }
        });    

        const totalPrice = prices.reduce((acc, cur) => acc + parseInt(cur), 0); 
        if (confirm(`Your coffee will cost ${totalPrice} RSD`)) {
            $.post({
                method: "POST",
                data: {
                    name: coffeeName,
                    ingredientIds: ingIds
                },
                url: "@Url.Action("AddCoffee", "Admin")",
                success: function (response) {
                    window.location.href = response.redirectToUrl;  
                } 
            });
        }  
    }
    </script> 
}