@model IList<Fuel_Me_With_Coffee.Models.CoffeeViewModel>
@{
    ViewData["Controller"] = "Admin";
}

<div class="container">
    <h1>Delete or Update coffee</h1>
    <a href="@Url.Action("Index", "Admin")" class="mb-5">Go back</a>
    <div class="d-flex flex-wrap justify-content-between">
        @foreach (CoffeeViewModel coffee in Model)
        {
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@coffee.Name</h5>
                    <ul class="list-group list-group-flush">
                        @foreach (var ingredient in coffee.Ingredients)
                        {
                            <li class="list-group-item">@ingredient.Name - @ingredient.Price RSD</li>
                        }

                    </ul>
                </div>
                <div class="card-footer" style="display: flex; flex-direction: column;">
                    <p>Total: @coffee.Ingredients.Sum(ing => ing.Price) RSD</p>
                    <div class="d-flex flex-row justify-content-between">
                        <a href='@Url.Action("UpdateCoffee", "Admin", new { id = coffee.Id })' class="btn btn-secondary"
                           role="button">Update</a>
                        <a href='@Url.Action("RemoveCoffee", "Admin", new { id = coffee.Id })' class="btn btn-danger mr-5"
                           role="button">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>