@model IList<Ingredient>
@{
    ViewData["Controller"] = "Admin";
}

<h1>Delete or Update Ingredient</h1>
<p class="lead">Note: you can't delete an ingredient if it is a part of a coffee drink</p>
<a href="@Url.Action("Index", "Admin")" class="mb-5">Go back</a>
<div class="d-flex flex-wrap">
    @foreach (Ingredient ingredient in Model)
    {
        <div class="card m-1">
            <form asp-action="UpdateIngredient" method="post">
                <input hidden value="@ingredient.Id" name="Id" />
                <div class="card-body">
                    <input type="text" name="Name" value="@ingredient.Name">
                </div>
                <div class="card-footer text-muted">
                    <input type="text" name="Price" value="@ingredient.Price"> RSD
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-row justify-content-between">
                        <button type="submit" class="btn btn-secondary">
                            Update
                        </button>
                        <a href='@Url.Action("RemoveIngredient", "Admin", new { id = ingredient.Id })'
                           class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </form>

        </div>
    }
</div>