﻿@{
    ViewData["Title"] = "Admin Page";
    ViewData["Controller"] = "Admin";
}

<div class="container">
    <h1>Wellcome</h1>
    <div class="row text-center">
        <div class="col-sm-6">
            <div class="card m-2">
                <div class="card-body">
                    <a class="text-dark" asp-controller="Admin"
                       asp-action="AddCoffee">Add Coffee</a>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <a class="text-dark" asp-controller="Admin"
                       asp-action="GetCoffee">Update or Delete Coffee</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card m-2">
                <div class="card-body">
                    <a class="text-dark" asp-controller="Admin"
                       asp-action="AddIngredient">Add Ingredient</a>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <a class="text-dark" asp-controller="Admin"
                       asp-action="GetIngredient">Update or Delete Ingredient</a>
                </div>
            </div>
        </div>
    </div>
</div>