@model Fuel_Me_With_Coffee.Models.Admin
@{
    ViewData["Title"] = "Admin Log In";
    ViewData["Controller"] = "Home";
}


<div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 100px">
    <div class="card bg-dark" style="width: 35%">
        <div class="card-body text-white"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <form asp-action="Login" method="post">
                <h2><b>Login</b></h2>
                <div class="form-floating mb-3">
                    <label for="floatingInputValue">Username</label>
                    <input name="Username" class="form-control" id="floatingInput" placeholder="Username">
                </div>
                <div class="form-floating">
                    <label for="floatingPassword">Password</label>
                    <input type="password" name="Password" class="form-control" id="floatingPassword" placeholder="Password">
                </div>
                <br>
                <button class="btn bg-white" type="submit"><b>Login</b></button>
            </form>
        </div>
    </div>
</div>
