@model AdminUpdateCoffeeViewModel
@{
    ViewData["Title"] = "Admin Edit Coffee";
    ViewData["Controller"] = "Admin";
}

<div class="container">
    <h1>Edit Coffee</h1>
    <a href="@Url.Action("Index", "Admin")" class="mb-5">Go back</a>
    <div>
        <label>Name</label>
        <input type="text" id="coffee-name" value="@Model.Coffee.Name">
    </div>
    <h5>Ingredients:</h5>
    <div class="d-flex flex-wrap">
        @foreach (Ingredient ingredient in Model.AllAvailableIngredients)
        {
            <div class="card m-2">
                <div class="card-body">
                    <input type="checkbox" price="@ingredient.Price" value="@ingredient.Id"
                           @(Model.Coffee.Ingredients.Select(ing => ing.Id).Contains(ingredient.Id) ? "checked" : "" ) />
                    @ingredient.Name
                </div>
                <div class="card-footer text-muted">
                    @ingredient.Price RSD
                </div>
            </div>
        }
    </div>
    <button class="btn btn-secondary" onclick="update()">Update Coffee</button>
</div>

@section Scripts {
    <script>
        function update() {
            const ingIds = [];
            const prices = [];
            const coffeeName = $("#coffee-name").val()
            $("input:checked").each(function () {
                if ($(this).is(":checked")) {
                    ingIds.push($(this).val());
                    prices.push($(this).attr('price'));
                }
            });

            if (ingIds.length === 0) {
                alert("You must select at least one ingredient");
                return;
            }

            const totalPrice = prices.reduce((acc, cur) => acc + parseInt(cur), 0);
            if (confirm(`New price for coffee will be ${totalPrice} RSD`)) {
                $.post({
                    method: "PUT",
                    data: {
                        name: coffeeName,
                        ingredientIds: ingIds
                    },
                    url: "@Url.Action("UpdateCoffee", "Admin")",
                    success: function (response) {
                        window.location.href = response.redirectToUrl;
                    }
                });
            }
        }
    </script>
}