﻿@model IList<Fuel_Me_With_Coffee.Models.CoffeeViewModel>
@using System.Linq
@{
    ViewData["Title"] = "Home Page";
    ViewData["Controller"] = "Home";
}

<div class="alert alert-success fixed-bottom text-center mb-5" id="alert" role="alert" style="display: none">
   You have order your coffee
</div>

<div class="container">
    <h1>Choose your coffee from our top selection</h1>
    <div class="d-flex flex-wrap justify-content-between">
        @foreach (CoffeeViewModel coffee in Model)
        {
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@coffee.Name</h5>
                    <ul class="list-group list-group-flush">
                        @foreach (Ingredient ingredient in coffee.Ingredients)
                        {
                            <li class="list-group-item">@ingredient.Name - @ingredient.Price RSD</li>
                        }

                    </ul>
                </div>
                <div class="card-footer">
                    <p>Total: @coffee.Ingredients.Sum(ing => ing.Price) RSD</p>
                    <button onclick="order()" class="btn btn-primary d-block w-100">Order</button>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts
{
    <script>
        function order() {
            $("#alert").show();
            setTimeout(function () {
                $("#alert").hide();
            }, 1500)
        }
    </script>
}