﻿@model IList<Ingredient>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Controller"] = "Home";
}

<h1>Make your own Coffee</h1>
<p class="lead">max 5 ingredints</p>
<div class="d-flex flex-wrap">
    @foreach (Ingredient ingredient in Model)
    {
        <div class="card m-2">
            <div class="card-body">
                <input type="checkbox" price="@ingredient.Price" value="@ingredient.Id" />
                @ingredient.Name

            </div>
            <div class="card-footer text-muted">
                @ingredient.Price RSD
            </div>
        </div>
    }
</div>

<div class="fixed-bottom d-flex justify-content-center align-items-center pb-5 bg-white">
    <button class="btn btn-dark d-block w-75" onclick="order()">
        Order
    </button>

</div>

@section Scripts {
<script>
    function order() {
        const prices = [];
        $("input:checked").each(function () {
            if ($(this).is(":checked")) {
                prices.push($(this).attr('price'));
            }
        });
        if (prices.length == 0) {
            alert("You have to choose at least one ingredient");
            return;
        }

        if (prices.length > 5) {
            alert("Maximum amount of ingredients exceeded");
            return;
        }

        const totalPrice = prices.reduce((acc, cur) => acc + parseInt(cur), 0);
        if (confirm(`Your coffee will cost ${totalPrice} RSD`)) {
            window.location.href = "@Url.Action("Index", "Home")";
        }  
    }
</script>
}